/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-last-left {
    text-align-last: left;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

html {
  font-family:
    "PingFang TC",
    "Noto Sans TC",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 400;
  scroll-behavior: smooth;
}
